doctype html
html
    head
        meta(charset='utf-8')
        script(src='../js/dpr.js')
        title 退货记录
        link(href='../css/order.css' rel='stylesheet')
        link(href='../css/u-infBox.css' rel='stylesheet')
    body
        header.top-header.clearfix 退货记录
            a.top-header-back(href='my.html')
        //订单
        ul.u-infList
            li.u-infBox
                p.u-infBox-lg1.clearfix
                    span.u-infBox-lg1-l 退款时间：
                        time 2016-07-22 09:28
                    span.u-infBox-lg1-r 退款成功
                table.u-infBox-table
                    tr
                        td.u-infBox-table-img(rowspan='2')
                            a(href='#')
                                img(src='../img/_delete/g0.jpg')
                        td
                            a.u-infBox-table-title(href='#') 现货选VR魔镜/蓝牙耳机/钢膜Lenovo/联想  k32c36乐檬3S移动4G手机k3
                        td.u-infBox-table-price ￥608
                            del ￥608
                    tr
                        td.u-infBox-table-text 机身颜色：柠檬金；套餐类型：官方标配；机身内存16GB;版本类型：中国大陆
                        td.u-infBox-table-num ×1
                p.u-infBox-lg2 交易金额：￥2498.00 退款金额：￥2498.00
            li.u-infBox
                p.u-infBox-lg1.clearfix
                    span.u-infBox-lg1-l 退款时间：
                        time 2016-07-22 09:28
                    span.u-infBox-lg1-r 退款成功
                table.u-infBox-table
                    tr
                        td.u-infBox-table-img(rowspan='2')
                            a(href='#')
                                img(src='../img/_delete/g0.jpg')
                        td
                            a.u-infBox-table-title(href='#') 现货选VR魔镜/蓝牙耳机/钢膜Lenovo/联想  k32c36乐檬3S移动4G手机k3
                        td.u-infBox-table-price ￥608
                            del ￥608
                    tr
                        td.u-infBox-table-text 机身颜色：柠檬金；套餐类型：官方标配；机身内存16GB;版本类型：中国大陆
                        td.u-infBox-table-num ×1
                p.u-infBox-lg2 交易金额：￥2498.00 退款金额：￥2498.00