doctype html
html
    head
        meta(charset='utf-8')
        script(src='../js/dpr.js')
        title 交易成功
        link(href='../css/order-detail.css' rel='stylesheet')
    body
        header.top-header.clearfix 订单详情
            a.top-header-back(href='my.html')
        //图片
        div.order-inf
            article.order-inf-text
                p 交易成功
                p 卖家将收到您的货款
            i.order-inf-img
        //订单详情
        a.order-xiangqing(href='#') 订单详情
        //图片
        div.you-want-to-buy