doctype html
html
    head
        meta(charset='utf-8')
        script(src='../js/dpr.js')
        title 个人资料
        link(href='../css/parsonal-data.css' rel='stylesheet')
    body
        header.top-header.clearfix 个人资料
            a.top-header-back(href='my.html')
        // 个人资料
        section.personal-data
            a.clearfix(href='#')
                b.vb1 头像
                i.touxiang.f-r
                    img(src='../img/_delete/touxiang1.jpg')
            a.clearfix(href='#') 会员名
                span.f-r 王小明
            a.clearfix(href='#') 昵称
                span.f-r 哈哈
            a.clearfix(href='#') 性别
                span.f-r 女
            a.clearfix(href='#')
                b.vb2 我的二维码名片
                i.erweima.f-r
            a.clearfix(href='shopping-address.html') 收货地址