doctype html
html
    head
        meta(charset='utf-8')
        script(src='../js/dpr.js')
        title 购物车
        link(href='../css/shopping-cart.css' rel='stylesheet')
    body
        header.top-header.clearfix 购物车
            a.top-header-back(href='index.html')
        section.shopping-cart#shopping-cart
        //购物车数据模拟
        script(src='../js/data/data-shopping-cart.js')
        //react
        script(src='../js/react.15.2.1.min.js')
        script(src='../js/react/layout-shopping-cart.js')